{% extends "principal.html" %}

{% block contenido %}
 <h1>Usuario: {{ usuario.nombre }}</h1>
    <h2>Tareas filtradas por observaciones</h2>
    <ul>
        {% for asignacion in mostrar_asignaciones %}
            <ul>
                <li>Título de la Tarea: {{ asignacion.tarea.titulo }}</li>
                <li>Fecha de Asignación: {{ asignacion.fecha_asignacion }}</li>
                <li>Observaciones: {{ asignacion.observaciones }}</li>
            </ul>
        {% endfor %}
    </ul>
{% endblock %}
