<!-- usuarios_no_asignados_tarea.html -->
{% extends "principal.html" %}

{% block contenido %}
    <h1>Usuarios no asignados a la Tarea: {{ tarea.titulo }}</h1>
    <h2>Lista de usuarios:</h2>
    <p>Hay {{ usuarios|length }} usuarios no asignados en la lista.</p>
    <ul>
        {% for usuario in usuarios %}
            {% include "listas/usuario_no_asignado_tarea_item.html" with usuario=usuario %}
            {%empty%}
            "No existen usuarios no asignados"
        {% endfor %}
    </ul>
{% endblock %}
